<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- Include header partial -->
  <%- include('partials/header') %>

  <h1>Welcome to My API</h1>

  <div class="content">
    <p>This is a page to support my Inventory Management App for ECE Engineers.</p>
    <p>Please go to the Products page from the header section to see all the products available.</p>
    <!-- Add more <p> tags or any other content as needed -->
  </div>

  <!-- Include footer partial -->
  <%- include('partials/footer') %>

</body>
</html>
