<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/find-all-products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
      </ul>
    </nav>
  </header>
  